{% extends "layout/main.html" %}

{% block content %}
<div class="slider-wrapper">
    <div class="responisve-container">
        <div class="slider">
            <div class="fs_loader">
            </div>
            <div class="slide">
                <p class="uc" data-ease-in="easeOutBounce" data-in="top" data-out="top" data-position="150,360" data-step="1">
                    Welcome to
                </p>
                <p class="slider-titele" data-delay="100" data-in="left" data-position="210,200" data-step="2">
                    Bdtask Travel Agency
                </p>
                <p class="slider-text" data-delay="1000" data-in="bottom" data-out="right" data-position="270,100" data-step="2">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    <br>
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took
                    </br>
                </p>
                <a class="thm-btn" data-delay="1500" data-in="bottom" data-out="right" data-position="370,435" data-step="2" href="index.html#">
                    Read More
                </a>
            </div>
            <div class="slide">
                <p class="uc" data-in="top" data-out="top" data-position="150,360" data-step="1">
                    Welcome to
                </p>
                <p class="slider-titele" data-delay="100" data-in="bottom" data-position="210,200" data-step="2">
                    Bdtask Travel Agency
                </p>
                <p class="slider-text" data-delay="1000" data-in="bottom" data-out="right" data-position="270,100" data-step="2">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    <br>
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took
                    </br>
                </p>
                <a class="thm-btn" data-delay="1500" data-in="bottom" data-out="right" data-position="370,435" data-step="2" href="index.html#">
                    Read More
                </a>
            </div>
        </div>
    </div>
</div>

<!-- service -->
<section class="service-inner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="title">
                    <h2>
                        Our Service
                    </h2>
                    <p>
                        This is Amazing Travel Agency !
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-3 inner-box">
                    <article>
                        <div class="icon">
                            <span class="flaticon-placeholder">
                            </span>
                        </div>
                        <div class="content-text">
                            <h5>
                                Diverse Destination
                            </h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing.
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-sm-3 inner-box">
                    <article>
                        <div class="icon">
                            <span class="flaticon-map">
                            </span>
                        </div>
                        <div class="content-text">
                            <h5>
                                Fast Booking
                            </h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing.
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-sm-3 inner-box">
                    <article>
                        <div class="icon">
                            <span class="flaticon-lemonade">
                            </span>
                        </div>
                        <div class="content-text">
                            <h5>
                                Drinks Included
                            </h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing.
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-sm-3 inner-box">
                    <article>
                        <div class="icon">
                            <span class="flaticon-party">
                            </span>
                        </div>
                        <div class="content-text">
                            <h5>
                                After Partys
                            </h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing.
                            </p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service -->
<section class="destination">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="title">
                    <h2>
                        Destination
                    </h2>
                    <p>
                        This is Amazing Travel Agency !
                    </p>
                </div>
            </div>
        </div>
        <div class="row thm-margin">
            <div class="col-md-3 col-sm-4 thm-padding">
                <div class="destination-grid">
                    <a href="index.html#">
                        <img alt="" class="img-responsive" src="{{baseUrl}}/public/assets/images/destination-370x370-1.jpg"/>
                    </a>
                    <div class="mask">
                        <h2>
                            Sydney
                        </h2>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content
                        </p>
                        <a class="thm-btn" href="index.html#">
                            Read More
                        </a>
                    </div>
                    <div class="dest-name">
                        <h5>
                            Sydney Opera House
                        </h5>
                        <h4>
                            Sydney
                        </h4>
                    </div>
                    <div class="dest-icon">
                        <i class="flaticon-earth-globe" data-placement="top" data-toggle="tooltip" title="15 Tours">
                        </i>
                        <i class="flaticon-ship" data-placement="top" data-toggle="tooltip" title="9 Criuses">
                        </i>
                        <i class="flaticon-transport" data-placement="top" data-toggle="tooltip" title="31 Flights">
                        </i>
                        <i class="flaticon-front" data-placement="top" data-toggle="tooltip" title="83 Hotels">
                        </i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 thm-padding">
                <div class="destination-grid">
                    <a href="index.html#">
                        <img alt="" class="img-responsive" src="{{baseUrl}}/public/assets/images/destination-370x370-2.jpg"/>
                    </a>
                    <div class="mask">
                        <h2>
                            Brazil
                        </h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        </p>
                        <a class="thm-btn" href="index.html#">
                            Read More
                        </a>
                    </div>
                    <div class="dest-name">
                        <h5>
                            Fernando de Noronha
                        </h5>
                        <h4>
                            Brazil
                        </h4>
                    </div>
                    <div class="dest-icon">
                        <i class="flaticon-earth-globe" data-placement="top" data-toggle="tooltip" title="15 Tours">
                        </i>
                        <i class="flaticon-ship" data-placement="top" data-toggle="tooltip" title="9 Criuses">
                        </i>
                        <i class="flaticon-transport" data-placement="top" data-toggle="tooltip" title="31 Flights">
                        </i>
                        <i class="flaticon-front" data-placement="top" data-toggle="tooltip" title="83 Hotels">
                        </i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 thm-padding">
                <div class="destination-grid">
                    <a href="index.html#">
                        <img alt="" class="img-responsive" src="{{baseUrl}}/public/assets/images/destination-370x370-3.jpg"/>
                    </a>
                    <div class="mask">
                        <h2>
                            Istanbul
                        </h2>
                        <p>
                           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        </p>
                        <a class="thm-btn" href="index.html#">
                            Read More
                        </a>
                    </div>
                    <div class="dest-name">
                        <h5>
                            Aya Sofya
                        </h5>
                        <h4>
                            Istanbul
                        </h4>
                    </div>
                    <div class="dest-icon">
                        <i class="flaticon-earth-globe" data-placement="top" data-toggle="tooltip" title="15 Tours">
                        </i>
                        <i class="flaticon-ship" data-placement="top" data-toggle="tooltip" title="9 Criuses">
                        </i>
                        <i class="flaticon-transport" data-placement="top" data-toggle="tooltip" title="31 Flights">
                        </i>
                        <i class="flaticon-front" data-placement="top" data-toggle="tooltip" title="83 Hotels">
                        </i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 thm-padding">
                <div class="destination-grid">
                    <a href="index.html#">
                        <img alt="" class="img-responsive" src="{{baseUrl}}/public/assets/images/destination-370x370-4.jpg"/>
                    </a>
                    <div class="mask">
                        <h2>
                            India
                        </h2>
                        <p>
                             Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        </p>
                        <a class="thm-btn" href="index.html#">
                            Read More
                        </a>
                    </div>
                    <div class="dest-name">
                        <h5>
                            Taj Mahal
                        </h5>
                        <h4>
                            India
                        </h4>
                    </div>
                    <div class="dest-icon">
                        <i class="flaticon-earth-globe" data-placement="top" data-toggle="tooltip" title="15 Tours">
                        </i>
                        <i class="flaticon-ship" data-placement="top" data-toggle="tooltip" title="9 Criuses">
                        </i>
                        <i class="flaticon-transport" data-placement="top" data-toggle="tooltip" title="31 Flights">
                        </i>
                        <i class="flaticon-front" data-placement="top" data-toggle="tooltip" title="83 Hotels">
                        </i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 thm-padding">
                <div class="destination-grid">
                    <a href="index.html#">
                        <img alt="" class="img-responsive" src="{{baseUrl}}/public/assets/images/destination-370x370-5.jpg"/>
                    </a>
                    <div class="mask">
                        <h2>
                            Italy
                        </h2>
                        <p>
                             Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        </p>
                        <a class="thm-btn" href="index.html#">
                            Read More
                        </a>
                    </div>
                    <div class="dest-name">
                        <h5>
                            Canals of Venice
                        </h5>
                        <h4>
                            Italy
                        </h4>
                    </div>
                    <div class="dest-icon">
                        <i class="flaticon-earth-globe" data-placement="top" data-toggle="tooltip" title="15 Tours">
                        </i>
                        <i class="flaticon-ship" data-placement="top" data-toggle="tooltip" title="9 Criuses">
                        </i>
                        <i class="flaticon-transport" data-placement="top" data-toggle="tooltip" title="31 Flights">
                        </i>
                        <i class="flaticon-front" data-placement="top" data-toggle="tooltip" title="83 Hotels">
                        </i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 thm-padding">
                <div class="destination-grid">
                    <a href="index.html#">
                        <img alt="" class="img-responsive" src="{{baseUrl}}/public/assets/images/destination-370x370-6.jpg"/>
                    </a>
                    <div class="mask">
                        <h2>
                            Paris
                        </h2>
                        <p>
                             Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        </p>
                        <a class="thm-btn" href="index.html#">
                            Read More
                        </a>
                    </div>
                    <div class="dest-name">
                        <h5>
                            Eiffel Tower
                        </h5>
                        <h4>
                            Paris
                        </h4>
                    </div>
                    <div class="dest-icon">
                        <i class="flaticon-earth-globe" data-placement="top" data-toggle="tooltip" title="15 Tours">
                        </i>
                        <i class="flaticon-ship" data-placement="top" data-toggle="tooltip" title="9 Criuses">
                        </i>
                        <i class="flaticon-transport" data-placement="top" data-toggle="tooltip" title="31 Flights">
                        </i>
                        <i class="flaticon-front" data-placement="top" data-toggle="tooltip" title="83 Hotels">
                        </i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 hidden-sm thm-padding">
                <div class="destination-grid">
                    <a href="index.html#">
                        <img alt="" class="img-responsive" src="{{baseUrl}}/public/assets/images/destination-370x370-7.jpg"/>
                    </a>
                    <div class="mask">
                        <h2>
                            London
                        </h2>
                        <p>
                             Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        </p>
                        <a class="thm-btn" href="index.html#">
                            Read More
                        </a>
                    </div>
                    <div class="dest-name">
                        <h5>
                            Hop on Hop off Bus Tour
                        </h5>
                        <h4>
                            London
                        </h4>
                    </div>
                    <div class="dest-icon">
                        <i class="flaticon-earth-globe" data-placement="top" data-toggle="tooltip" title="15 Tours">
                        </i>
                        <i class="flaticon-ship" data-placement="top" data-toggle="tooltip" title="9 Criuses">
                        </i>
                        <i class="flaticon-transport" data-placement="top" data-toggle="tooltip" title="31 Flights">
                        </i>
                        <i class="flaticon-front" data-placement="top" data-toggle="tooltip" title="83 Hotels">
                        </i>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 hidden-sm thm-padding">
                <div class="destination-grid">
                    <a href="index.html#">
                        <img alt="" class="img-responsive" src="{{baseUrl}}/public/assets/images/destination-370x370-8.jpg"/>
                    </a>
                    <div class="mask">
                        <h2>
                            London
                        </h2>
                        <p>
                             Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        </p>
                        <a class="thm-btn" href="index.html#">
                            Read More
                        </a>
                    </div>
                    <div class="dest-name">
                        <h5>
                            Hop on Hop off Bus Tour
                        </h5>
                        <h4>
                            London
                        </h4>
                    </div>
                    <div class="dest-icon">
                        <i class="flaticon-earth-globe" data-placement="top" data-toggle="tooltip" title="15 Tours">
                        </i>
                        <i class="flaticon-ship" data-placement="top" data-toggle="tooltip" title="9 Criuses">
                        </i>
                        <i class="flaticon-transport" data-placement="top" data-toggle="tooltip" title="31 Flights">
                        </i>
                        <i class="flaticon-front" data-placement="top" data-toggle="tooltip" title="83 Hotels">
                        </i>
                    </div>
                </div>
            </div>
        </div>

        <div style="text-align: center;">
            <a class="thm-btn" href="index.html#">
                           See All
                        </a>

        </div>

         

    </div>
</section>
<!--estinasi-->

 <!-- Testimonial section -->
            <div class="reference home-ref">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="title">
                                <h2>
                                    References
                                </h2>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="testimonials">
                            <div class="carousel" data-ride="carousel" id="quote-carousel">
                                <div class="carousel-inner">
                                    <!-- Quote 1 -->
                                    <div class="item col-sm-10 col-sm-offset-1">
                                        <blockquote>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                                            aliquam architecto beatae dolorem, enim error eveniet harum iste molestias
                                            neque nisi placeat possimus quaerat quam repudiandae sint soluta unde vero.
                                            <span class="author">
                                                - Andrew Adams, Google Inc
                                            </span>
                                        </blockquote>
                                    </div>
                                    <!-- Quote 2 -->
                                    <div class="item col-sm-10 col-sm-offset-1">
                                        <blockquote>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                                            aliquam architecto beatae doloremaliquam architecto beatae dolorem, enim error
                                            eveniet harum iste molestias neque nisi placeat.
                                            <span class="author">
                                                - Jhon Smith, Facebook Inc
                                            </span>
                                        </blockquote>
                                    </div>
                                    <!-- Quote 3 -->
                                    <div class="item col-sm-10 col-sm-offset-1 active">
                                        <blockquote>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium
                                            aliquam architecto beatae dolorem, enim error eveniet harum iste molestias
                                            neque nisi placeat possimus quaerat quam repudiandae sint.
                                            <span class="author">
                                                - Bob Smith, Fitbit
                                            </span>
                                        </blockquote>
                                    </div>
                                </div>
                                <!-- Bottom Carousel Indicators -->
                                <ol class="carousel-indicators">
                                    <li class="" data-slide-to="0" data-target="#quote-carousel">
                                        <img alt="" class="img-responsive " src="assets/images/avtar-1.jpg"/>
                                    </li>
                                    <li class="" data-slide-to="1" data-target="#quote-carousel">
                                        <img alt="" class="img-responsive" src="assets/images/avtar-2.jpg"/>
                                    </li>
                                    <li class="active" data-slide-to="2" data-target="#quote-carousel">
                                        <img alt="" class="img-responsive" src="assets/images/avtar-3.jpg"/>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}
